
@{
    ViewData["Title"] = "Calendario";
}

<h1>Transacciones
    <a asp-action="Crear" class="btn btn-success" style="float: right;">Crear Transacción</a>
</h1>
<hr />

<partial name="_SubMenu" model="SubMenuModel.Calendario"></partial>

<div id="calendario">

</div>

@section Scripts {
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const calendarioEl = document.getElementById('calendario');
            const calendario = new FullCalendar.Calendar(calendarioEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth'
            });

            calendario.render();
        });
    </script>
}